*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* Common */

.flex {
    display:flex
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Fine common */

/* Main */

main {
    position: relative;
}

.container {
    align-items: center;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: black;
}

.view_settings {
    z-index: 9999;
    position: absolute;
    top: 0;
    right: 0;
    height: 5%;
    color: white;
    padding: 10px 10px 0 0;
    font-size: 15px;
}

.speaker_view,
.change_view {
    display: inline-block;
    background-image: linear-gradient(rgb(88, 88, 88),rgb(32, 32, 32));
    padding: 5px;
    border-radius: 5px;
}

.btn_left,
.btn_right{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 15%;
    color: white;
    font-size: 15px;
}

.btn_left .fas {
    font-size: 60px;
}

.btn_right .fas {
    font-size: 60px;
    color: rgb(0, 153, 255);
}

.user_img_container {
    width: 80%;
    height: 90%;
    flex-wrap: wrap;
}

.img_user {
    position: relative;
    width: calc((100% / 5) - 10px);
    height: calc((100% /5) - 10px);
    margin: 5px;
}

.img_user:nth-child(25) {
    border: 5px solid lightgreen;
}

.img_user img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.layover {
  position: absolute; 
  bottom: 0px; 
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 15px;
  padding: 5px;
}

/* Fine main */

/* Footer */

.nav_bar {
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-image: linear-gradient(rgb(61, 61, 61),rgb(32, 32, 32));
    text-align: center;
    color: white;
}

.left_bar, .right_bar {
    width: 15%;
}

.mid_bar {
    width: 50%;
}

.nav_bar .fas {
    font-size: 25px;
    padding: 5px 0;
}

.nav_bar .fa-chevron-up {
    font-size: 15px;
}

.chevron_up {
    align-items: center;
    margin-right: 10px;
}

.btn_nav_bar {
    position: relative;
    flex-direction: column;
    margin: 0 20px;
}

.btn_nav_bar:nth-child(4) {
    color: rgb(53, 212, 53);
}

.btn_nav_bar .chevron_up {
    position: absolute;
    top: 15px;
    left: 37px;
}

.btn_nav_bar .chevron_up .fa-chevron-up {
    font-size: 10px;
}

.partecipants {
   position: absolute;
   right: 40px;
   top: 5px;
}

.right_bar {
    line-height: 70px;
    height: 70px;
    color: rgb(187, 63, 63);
    background-color: rgb(71, 71, 71);
}

/* Fine footer */

/* Debug */

.debug .user_img_container {
    background-color: yellow;
}

.debug .view_settings {
    background-color: blue;
}

.debug .btn_left {
    background-color: red;
}

.debug .btn_right {
    background-color: green;
}

.debug .left_bar {
    height: 100%;
    width: 15%;
    background-color: red;
}

.debug .mid_bar {
    height: 100%;
    width: 50%;
    background-color: red;
}

.debug .right_bar {
    height: 100%;
    width: 15%;
    background-color: red;
}

/* Fine debug */