*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* Common */

.flex {
    display:flex
}

/* Fine common */

/* Main */



/* Fine main */

/* Footer */



/* Fine footer */

/* Debug */


/* Fine debug */